.heading{
    text-align: center;
}

.artist-card{
    background-color: gainsboro;
    border-radius: 25px;
    margin-left: 30%;
    margin-right: 30%;
}

.image{
    border-radius: 25px;
    margin-left: 3%;
    justify-content: center;

}

.content{
    display: flex;
    align-items: center; 
    justify-content: center;
    gap: 1rem; 
}