.heading{
    text-align: center;
}

.artist-card{
    background-color: gainsboro;
    border-radius: 25px;
    margin-left: 30%;
    margin-right: 30%;
    display: flex;
    align-items: center; 
    gap: 1rem; 
    

}

.image{
    border-radius: 25px;
    margin-left: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.content{
    
}